<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>

            </ul>
            <ul class="navbar-nav me-1 mb-2 mb-lg-0">
                {% if request.session.user %}
                <li class="nav-item">
                    <a class="fw-medium fs-4 nav-link active" aria-current="page" href="/adminlogout/">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br>
<br>


<div class="row m-auto" style="height: 100vh;">
    <div class="col-lg-3 h-100">
        <div class="d-grid gap-2">
            <button class="btn btn-dark" type="button">
                    <a class="nav-link active" aria-current="page" href="/admin_view/">
                        All Product
                    </a>
            </button>
            <button class="btn btn-dark" type="button">
                    <a class="nav-link active" aria-current="page" href="/adminaddproduct/">
                        Add Product
                    </a>
            </button>
            <button class="btn btn-dark" type="button">
                    <a class="nav-link active" aria-current="page" href="/adminorder/">
                        Orders
                    </a>
            </button>
        </div>
    </div>
    <div class="col">

        <div>
            <h1>All Product</h1>
            <div class="container text-center">
                <div class="row">
                    {% for i in products %}
                    <div class="col-sm-4 p-2" style="height:300px%;">
                        <div class="card h-50" id="{{i.id}}" style="width: 18rem;">
                            <img src="{{i.IMAGE.url}}" class="card-img-top h-75" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.PRODUCT}}</h5>
                                <p class="card-text">{{i.DESCRIPTION}}</p>
                            </div>
                            <ul class="list-group list-group-flush fs-3 ">
                                <li class="list-group-item">{{i.PRICE}} Rs</li>
                            </ul>
                            <div class="d-flex justify-content-around my-2">
                                <button class="btn btn-primary">
                                    <form action="/admin_view/" method="get">
                                        <a class="nav-link active" aria-current="page"
                                           href="/update/?update_ids={{i.id}}">
                                            Edited
                                        </a>
                                    </form>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <form action="/admin_view/" method="get">
                                        <a class="nav-link active" aria-current="page"
                                           href="/admin_view/?product_id={{i.id}}">
                                            Delete
                                        </a>
                                    </form>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
</body>
</html>